#SendButton {
	-fx-background-color: #33cc33; 
}

#chat{
	-fx-background-color: #00bfff;
	-fx-text-fill: white;
	-fx-background-radius: 4;
	-fx-border-color: white;
	-fx-padding: 1px;
	-fx-border-radius: 3;
	-fx-font-size: 16px;
}